<h2>About</h2>
<p> Under construction </p>

<h2>Features</h2>
<ul>
  <li> under </li>
  <li> construction </li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/jbret">code</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/joel-bretheim-741592b6">professional profile</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://bretheim.com">author</a>
  </li>
</ul>

